
#todoList{
	margin: 10px;
	border: 5px solid darkred;
}

.addButton{
	background-color: #5d5a5a;
	color: white;
	margin: 20px 55px 50px;
}

.listTittle{
	background-color: white;
	width: 700px;
	height: 50px;
	margin: 10px auto;
	list-style: none;
	line-height: 50px;
	font-size: 20px;
}
