.App {
  background: #aeb3b7;
  width: 800px;
  height: auto;
  margin: 100px auto;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 50px;
}
button {
  background-color: #0f82b7;
  width: 200px;
  height: 70px;
  margin: 10px 70px;
  font-size: 20px;
  color: white;
}
